html
  head
    script(type='text/javascript' src='bundle.js' async)
  body
    .grid-container
      header CMOS Setup Utility - Copyright (C) 1980 - ChickenOnCow Consulting
      nav
        ul
          li.main
            a(href='#main') Main
          li.work
            a(href='#work') Work
          li.fun
            a(href='#fun') Fun
          li.docs
            a(href='#docs') Docs
      main
        section.content
          section#main
          section#work
          section#fun
          section#docs
        section.description
          | INFORMATION
      footer
        span &uarr;&darr;&larr;&rarr; : MOVE
        span &crarr; : FOLLOW LINK
